<div class="navbar navbar-extend-md fixed-top fixed-header">
    <div class="container">
        <nav>
            <a routerLink="/">Home</a>|
            <!--<a routerLink="/add-employee">Add Employee</a>-->
            <a routerLink="/add-user">Add User</a>
        </nav>
    </div>
</div>
<div class="container mt-5">
<!--<h1>{{ title }}</h1>-->
<hr>
<router-outlet></router-outlet>
<!--<app-add-employee></app-add-employee>-->
<!--<app-employees></app-employees>-->
</div>
<!--<app-employees></app-employees>-->
<!--<app-add-employee [countFromParent]="count" (countFromChild)="getFromChild($event)"></app-add-employee>

<hr>
<div class="container">CountFromChild: {{count}}</div>-->