<div class="container">
    <table class="table table-dark text-white">
        
        <thead>
            <caption style="float: right;">Employee Details</caption>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id}}</td>
                <td>{{ employee.name}}</td>
                <td>{{ employee.address}}</td>
                <td>{{ employee.age}}</td>
                <td>{{ employee.company}}</td>
                <td>
                    <button class="btn btn-primary" (click)="updateEmployee(employee)">Update</button> |
                    <button class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div class="container">
<h3>{{ "Employee-name : "+ employee.name  }}</h3>
<h3>{{ "Employee-salary : "+ employee.salary  }}</h3>
<h3>{{ "Employee-company : "+employee.company  }}</h3>
<h3>{{ "Employee-address : "+employee.address }}</h3>
<div class="btn btn-success btn-lg">Button</div>
</div>
